<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Potenza - Job Application Form Wizard with Resume upload and Branch feature">
	<meta name="author" content="Ansonika">
	<title>{% block title %}Check for your rate{% endblock title %}</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='lend/favicon.ico') }}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon"
		href="{{ url_for('static', filename='lend/apple-touch-icon-57x57-precomposed.png') }}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
		href="{{ url_for('static', filename='lend/apple-touch-icon-72x72-precomposed.png') }}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
		href="{{ url_for('static', filename='lend/apple-touch-icon-114x114-precomposed.png') }}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
		href="{{ url_for('static', filename='lend/apple-touch-icon-144x144-precomposed.png') }}">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="{{ url_for('static', filename='lend/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lend/menu.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lend/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lend/vendors.css') }}" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="{{ url_for('static', filename='lend/custom.css') }}" rel="stylesheet">

	<!-- MODERNIZR MENU -->
	<script src="{{ url_for('static', filename='lend/modernizr.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/css/bootstrap.css') }}">
	<script src="{{ url_for('static', filename='bootstrap-5.1.1-dist/js/bootstrap.js') }}"></script>

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<nav>
		<ul class="cd-primary-nav">
			<li><a href="{{ url_for('home') }}" class="animated_link">Home</a></li>
		</ul>
	</nav>
	<!-- /menu -->

	<div class="container-fluid">
		<div class="row row-height">
			<div class="col-xl-4 col-lg-4 content-left">
				<div class="content-left-wrapper">
					<a href="{{ url_for('home') }}" id="logo"><img
							src="{{ url_for('static', filename='lend/logo.png') }}" alt="" width="45" height="45"></a>
					<div>
						<figure><a href="{{ url_for('base') }}"><img src="{{ url_for('static', filename='lend/info_graphic_1.svg') }}" alt=""
								class="img-fluid" width="270" height="270"></a>
						</figure>
						<h2>We are Providing<br> <span style="font-size: 20px;">Prediction of</span><br><span
								style="color: #d80075;">Loan Rate</span> and <span style="color: #d80075;">Loan
								Amount</span></h2>
					</div>
					<div class="copy">© 2021 Loan～齁哩</div>
				</div>
				<!-- /content-left-wrapper -->
			</div>
			<!-- /content-left -->
			<div class="col-xl-8 col-lg-8 content-right" id="start">
				<div id="wizard_container">
					<div id="top-wizard">
						<span id="location"></span>
						<div id="progressbar"></div>
					</div>
					<!-- /top-wizard -->
					{% block page_content %}
					<form id="wrapped" method="post" enctype="multipart/form-data" action="/form_result">
						<input id="website" name="website" type="text" value="">
						<!-- Leave for security protection, read docs for details -->
						<div id="middle-wizard">
							<div class="step">
								<h2 class="section_title">Let Us Know About You～</h2>
								<h3 class="main_question">Personal Information</h3>
								<div class="form-group add_top_30">
									<label for="name">姓名</label>
									<input type="text" name="name" id="name" class="form-control required"
										autocomplete="off" onchange="getVals(this, 'name_field');">
								</div>
								<div class="form-group">
									<label for="email">Email信箱</label>
									<input type="email" name="email" id="email" class="form-control" autocomplete="off"
										onchange="getVals(this, 'email_field');">
								</div>
								<div class="form-group">
									<label for="phone">手機</label>
									<input type="text" name="phone" id="phone" class="form-control" autocomplete="off">
								</div>
								<label>性別</label>
								<div class="form-group radio_input">
									<label class="container_radio mr-3">男
										<input type="radio" name="gender" value="Male" class="required">
										<span class="checkmark"></span>
									</label>
									<label class="container_radio">女
										<input type="radio" name="gender" value="Female" class="required">
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
							<!-- /step-->


							<!-- 預測 GRADE 要填的資料 P.1 -->

							<div class="step">
								<h2 class="section_title">First of All...</h2>
								<h3 class="main_question">Tell Us Some Backgrounds！</h3>
								<div class="form-group add_bottom_30">
									<label> 貸款目的</label>
									<label for="purpose3">Choose a purpose</label>
									<div class="styled-select">
										<select class="form-control required" id="purpose3" name="purpose">
											<option value="">Choose a purpose</option>
											<option value="2">credit card</option>
											<option value="7">car</option>
											<option value="1">debt consolidation</option>
											<option value="13">educational</option>
											<option value="10">house</option>
											<option value="3">home improvement</option>
											<option value="4">major purchase</option>
											<option value="5">medical</option>
											<option value="9">moving</option>
											<option value="12">renewable energy</option>
											<option value="6">small business</option>
											<option value="8">vacation</option>
											<option value="11">wedding</option>
											<option value="14">other</option>
										</select>
									</div>
								</div>
								<div class="form-group add_bottom_30">
									<label>目前帳戶是否有抵押，數量約為?</label>
									<div class="form-group">
										<label for="mort_acc">Number of Mortgaged Accounts</label>
										<input type="text" name="mort_acc" id="mort_acc" class="form-control required"
											autocomplete="off">
									</div>
								</div>
								<div class="form-group add_bottom_30">
									<label>曾因信用卡延遲繳款而被拒絕交易的次數?</label>
									<div class="form-group">
										<label for="pub_rec">Number of Transactions Refused</label>
										<input type="text" name="pub_rec" id="pub_rec" class="form-control required"
											autocomplete="off">
									</div>
								</div>
							</div>


							<!-- 預測 GRADE 要填的資料 P.2 -->
							<div class="step">
								<h2 class="section_title">You're almost finish...</h2>
								<h3 class="main_question"></h3>
								<div class="form-group add_bottom_30">
									<label>曾欠下的最高債務金額為多少? (in USD)</label>
									<div class="form-group">
										<label for="tot_coll_amt">Highest Debt</label>
										<input type="text" name="tot_coll_amt" id="tot_coll_amt"
											class="form-control required" autocomplete="off">
									</div>
								</div>
								<div class="form-group add_bottom_30">
									<label>信用卡的總額度? (in USD)</label>
									<div class="form-group">
										<label for="bc_open_to_buy">Amount</label>
										<input type="text" name="bc_open_to_buy" id="bc_open_to_buy"
											class="form-control required" autocomplete="off">
									</div>
								</div>
								<div class="form-group add_bottom_30">
									<label>過去一年開戶的數量?</label>
									<div class="form-group">
										<label for="num_tl_op_past_12m">Opened Accounts</label>
										<input type="text" name="num_tl_op_past_12m" id="num_tl_op_past_12m"
											class="form-control required" autocomplete="off">
									</div>
								</div>
							</div>

							<!-- 預測 金額 要填的資料 P. -->
							<div class="step">
								<h2 class="section_title">You're almost finish...</h2>
								<h3 class="main_question"></h3>
								<div class="form-group add_bottom_30">
									<label>目前帳戶的總餘額? (in USD)</label>
									<div class="form-group">
										<label for="tot_cur_bal">Current Amount</label>
										<input type="text" name="tot_cur_bal" id="tot_cur_bal"
											class="form-control required" autocomplete="off">
									</div>
								</div>
								<div class="form-group add_bottom_30">
									<label>現在是否有拖欠的款項，金額為? (in USD)</label>
									<div class="form-group">
										<label for="delinq_amnt">Current Delinquent Amount</label>
										<input type="text" name="delinq_amnt" id="delinq_amnt"
											class="form-control required" autocomplete="off">
									</div>
								</div>
								<!-- <div class="form-group add_bottom_30">
									<label>過去一年開戶數量?</label>
									<div class="form-group">
										<label for="num_tl_op_past_12m">Opened Accounts</label>
										<input type="text" name="num_tl_op_past_12m" id="num_tl_op_past_12m"
											class="form-control required" autocomplete="off">
									</div>
								</div> -->
							</div>

							
							<!-- /Start Branch ============================== -->
							<div class="step" data-state="branchtype">
								<h2 class="section_title">Loan Term</h2>
								<h3 class="main_question">預計的貸款期數?</h3>
								<div class="form-group">
									<label class="container_radio version_2">36 Months
										<input type="radio" name="term" value="3" class="required">
										<span class="checkmark"></span>
									</label>
									<label class="container_radio version_2">60 Months
										<input type="radio" name="term" value="5" class="required">
										<span class="checkmark"></span>
									</label>
								</div>
								<!-- <small>* Start branch radio based </small> -->
							</div>

							<!-- /Loan Term > 36 months ============================== -->
							<div class="branch" id="3">
								<div class="step" data-state="end">
									<h2 class="section_title">Loan Availability</h2>
									<h3 class="main_question">Additional info about "Loan" availability</h3>
									<div class="form-group add_bottom_30">
										<label>年收入? (in USD)</label>
										<div class="form-group">
											<label for="income">Annual income</label>
											<input type="text" name="annual_inc" id="income"
												class="form-control required" autocomplete="off">
										</div>
									</div>
									<div class="form-group add_bottom_30">
										<label>預計借貸多少錢? (in USD)</label>
										<!-- <label for="start_availability_full_time">Choose your availability</label> -->
										<div class="form-group">
											<label for="loan_amnt">Loan amount</label>
											<input type="text" name="loan_amnt" id="loan_amnt"
												class="form-control required" autocomplete="off">
										</div>
									</div>
									<div class="form-group add_bottom_30">
										<label>預計每個月償還的貸款金額? (in USD)</label>
										<div class="form-group">
											<label for="installment">Pay amount</label>
											<input type="text" name="installment" id="installment"
												class="form-control required" autocomplete="off">
										</div>
									</div>
								</div>
							</div>
							<!-- /step-->

							<!-- /Loan Term > 60 months ============================== -->
							<div class="branch" id="5">
								<div class="step" data-state="end">
									<h2 class="section_title">Loan Availability</h2>
									<h3 class="main_question">Additional info about "Loan" availability</h3>
									<div class="form-group add_bottom_30">
										<label>年收入? (in USD)</label>
										<div class="form-group">
											<label for="annual_inc">Annual income</label>
											<input type="text" name="annual_inc" id="annual_inc"
												class="form-control required" autocomplete="off">
										</div>
									</div>
									<div class="form-group add_bottom_30">
										<label>預計借貸多少錢? (in USD)</label>
										<div class="form-group">
											<label for="loan_amnt">Loan amount</label>
											<input type="text" name="loan_amnt" id="loan_amnt"
												class="form-control required" autocomplete="off">
										</div>
									</div>
									<label class="custom">預計每個月償還的貸款金額? (in USD)</label>
									<div class="form-group radio_input">
										<div class="form-group">
											<label for="installment">Pay amount</label>
											<input type="text" name="installment" id="installment"
												class="form-control required" autocomplete="off">
										</div>
									</div>
								</div>
							</div>
							<!-- /step-->

							<!-- /step-->

							<div class="submit step" id="end">
								<div class="summary">
									<div class="wrapper">
										<h3>Thank your for your time<br><span id="name_field"></span>!</h3>
										<p>Press the SUBMIT buttom to get your prediction！</p>
									</div>
								</div>
							</div>
							<!-- /step last-->

						</div>
						<!-- /middle-wizard -->
						<div id="bottom-wizard">
							<button type="button" name="backward" class="backward">Prev</button>
							<button type="button" name="forward" class="forward">Next</button>
							<button type="submit" name="process" class="submit">Submit</button>
						</div>
						<!-- /bottom-wizard -->
					</form>
					{% endblock page_content %}
				</div>
				<!-- /Wizard container -->
			</div>
			<!-- /content-right-->
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->

	<!-- COMMON SCRIPTS -->
	<script src="{{ url_for('static', filename='lend/jquery-3.6.0.min.js')}}"></script>
	<script src="{{ url_for('static', filename='lend/common_scripts.min.js')}}"></script>
	<script src="{{ url_for('static', filename='lend/velocity.min.js')}}"></script>
	<script src="{{ url_for('static', filename='lend/common_functions.js')}}"></script>
	<script src="{{ url_for('static', filename='lend/file-validator.js')}}"></script>

	<!-- Wizard script-->
	<script src="{{ url_for('static', filename='lend/func_1.js')}}"></script>

</body>

</html>