<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan~齁哩</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- end font -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="../intro/css/bootstrap.css">
    <link rel="stylesheet" href="../intro/css/ionicons.min.css">
    <link rel="stylesheet" href="../intro/css/magnific-popup.css">
    <link rel="stylesheet" href="../intro/css/style.css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.1.1-dist/js/bootstrap.js') }}"></script>
</head>

<body>

    <!-- loader -->
    <div class="fakeLoader"></div>
    <!-- end loader -->


    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
            <a href="" class="navbar-brand"><img src="{{ url_for('static', filename='logo.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-ios-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Our Team</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('base') }}">Check Your Rate</a>
                    </li>
                    <!-- <li class="nav-item">
						<a class="nav-link" href="#services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#news">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact us</a>
					</li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navbar -->


    <!-- home intro -->
    <div id="home" class="home-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="content">
                        <h2><span class="color-highlight">Provide</span> You</h2>
                        <h2><span style="font-size: 30px;">prediction of</span><br>Loan <span
                                class="color-highlight">Rate </span><span style="font-size: 30px;">&</span><br> Loan
                            <span class="color-highlight">Amount </span></h2>
                        <p>Come and Try!!!</p>
                        <ul>
                            <li><a href="{{ url_for('base') }}" class="button">Get Started</a></li>
                            <!-- <li><a href="" class="button button-secondary">Free Trial</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="content-image">
                        <img src="{{ url_for('static', filename='header_loan.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end home intro -->


    <!-- about us -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-12 col-md-6 col-xs-12">
					<div class="content-image">
						<img src="{{ url_for('static', filename='about-img.png') }}" alt="">
					</div>
				</div> -->
                <div class="col-sm-12 col-md-12 col-xs-12 ml-auto">
                    <div class="content" style="text-align:center;"">
                        <h3 style="font-weight: 900; background-color: #415678; color: white; border-radius: 15px;">關於 Loan～齁哩</h3>
                        <p></p>
                        <p><h4 style="font-weight: 900;">由於各家銀行對於不同信用狀況的人，核貸結果差異大。</h4></p>
                        <p><h4 style="font-weight: 900;">若想獲得核貸結果，銀行會需要調閱聯徵，但調閱紀錄會影響個人信用評分。</h4></p>
                        <p><h4 style="font-weight: 900;">透過 Loan～齁哩平台，輸入相關資料後就可即時獲得<span style="color: #415678; font-size: 35px; font-weight: 900;">利率</span>及<span style="color: #415678; font-size: 35px; font-weight: 900;">貸款金額之初步試算</span>，讓有借貸需求者在詢問銀行前，可先得到貸款基礎試算結果。</h4></p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3 style="font-weight: 900; background-color: #415678; color: white; border-radius: 15px;">成立目的</h3>
                        <ul>
                            <li><h4 style="font-weight: 500;"><span class="circle-list"></span>分析 Kaggle 上約 200 萬筆的信貸資料</h4></li>
                            <li><h4 style="font-weight: 500;"><span class="circle-list"></span>建立評分分類模型，再將評分結果放入貸款及利率試算模型</h4></li>
                            <li><h4 style="font-weight: 500;"><span class="circle-list"></span>使用者輸入相關資料後能即時獲得參考試算</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about us -->
<br><br>
    <!-- process work -->
    <div id="process-work" class="process-work section">
        <div class="container">
            <!-- <div class="section-title">
                <h5 class="title-top">Process</h5>
                <h3>About Loan～齁哩</h3>
            </div> -->
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="content" style="background-color: #415678">
                        <img src="./static/3285.png"></img>
                        <h3 style="color: white;">Input Your Information</h3>
                        <p style="color: white;">輸入相關資料</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="content"  style="background-color: #415678">
                        <img src="./static/3327.png"></img>
                        <h3 style="color: white;">Ours Tools</h3>
                        <p style="color: white;">透過大數據分析及模型預測</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="content" style="background-color: #415678">
                        <img src="./static/3332.png"></img>
                        <h3 style="color: white;">Got Your Prediction</h3>
                        <p style="color: white;">即時獲得貸款基本試算</p>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-6 col-xs-12 align-self-end">
                    <div class="content">
                        <i class="icon ion-ios-checkmark-circle"></i>
                        <h5>Show</h5>
                        <p>提供預測貸款資訊</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- end process work -->


    <!-- portfolio -->
    <!-- <div id="portfolio" class="portfolio section-bottom-only">
        <div class="container">
            <div class="section-title">
                <h5 class="title-top">Work</h5>
                <h3>Our Team Members</h3>
            </div>
            <div class="row no-gutters filter-container">
                <div class="col-md-2 col-sm-4 col-xs-10 filtr-item" data-category="3">
                    <div class="content-image">
                        <a href="../intro/images/portfolio1.jpg" class="portfolio-popup">
                            <img src="{{ url_for('static', filename='portfolio1.jpg') }}" alt="portfolio-image">
                            <div class="image-overlay"></div>
                            <div class="image-caption">
                                <h4>組長</h4>
                                <span>詹于萱</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-10 filtr-item" data-category="1">
                    <div class="content-image">
                        <a href="../intro/images/portfolio2.jpg" class="portfolio-popup">
                            <img src="{{ url_for('static', filename='portfolio2.jpg') }}" alt="portfolio-image">
                            <div class="image-overlay"></div>
                            <div class="image-caption">
                                <h4>組員</h4>
                                <span>林芝儀</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-10 filtr-item" data-category="2">
                    <div class="content-image">
                        <a href="../intro/images/portfolio3.jpg" class="portfolio-popup">
                            <img src="{{ url_for('static', filename='portfolio3.jpg') }}" alt="portfolio-image">
                            <div class="image-overlay"></div>
                            <div class="image-caption">
                                <h4>組員</h4>
                                <span>張允謙</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-10 filtr-item" data-category="3">
                    <div class="content-image">
                        <a href="../intro/images/portfolio4.jpg" class="portfolio-popup">
                            <img src="{{ url_for('static', filename='portfolio4.jpg') }}" alt="portfolio-image">
                            <div class="image-overlay"></div>
                            <div class="image-caption">
                                <h4>組員</h4>
                                <span>林逸庭</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-10 filtr-item" data-category="2">
                    <div class="content-image">
                        <a href="../intro/images/portfolio5.jpg" class="portfolio-popup">
                            <img src="{{ url_for('static', filename='portfolio5.jpg') }}" alt="portfolio-image">
                            <div class="image-overlay"></div>
                            <div class="image-caption">
                                <h4>組員</h4>
                                <span>鄺晏婷</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 filtr-item" data-category="1">
					<div class="content-image">
						<a href="../images/portfolio6.jpg" class="portfolio-popup">
							<img src="../images/portfolio6.jpg" alt="portfolio-image">
							<div class="image-overlay"></div>
							<div class="image-caption">
								<h4>Blue Lolipop</h4>
								<span>Branding</span>
							</div>
						</a>
					</div>
				</div>
            </div>
        </div>
    </div> -->
    <!-- end portfolio -->


    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="brand"><img src="{{ url_for('static', filename='logo.png') }}" alt=""></div>
                        <!-- <p>??????</p> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h5>About</h5>
                        <ul>
                            <li><a href="#about"><i class="icon ion-ios-contact"></i> About us</a></li>
                            <li><a href="https://www.iiiedu.org.tw/"><i class="icon ion-ios-chatboxes"></i> Contact</a></li>
                            <!-- <li><a href="#portfolio"><i class="icon ion-ios-list"></i> Portfolio</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h5>Support</h5>
                        <ul>
                            <!-- <li><a href=""><i class="icon ion-ios-headset"></i> support@example.com</a></li> -->
                            <li><a href="https://www.iiiedu.org.tw/"><i class="icon ion-ios-call"></i> 02-6631-6666
                                </a></li>
                            <li><a href="https://www.iiiedu.org.tw/"><i class="icon ion-ios-settings"></i> Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<h5>Follow us</h5>
						<ul class="social">
							<li><a href=""><i class="icon ion-logo-facebook"></i> Facebook</a></li>
							<li><a href=""><i class="icon ion-logo-twitter"></i> Twitter</a></li>
							<li><a href=""><i class="icon ion-logo-instagram"></i> Instagram</a></li>
						</ul>
					</div>
				</div> -->
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- footer bottom -->
    <div class="footer-bottom">
        <span>Copyright © All Right Reserved</span>
    </div>
    <!-- end footer bottom -->

    <!-- script -->
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.filterizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='contact-form.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- <script src="../intro/js/jquery-3.5.1.min.js"></script>
    <script src="../intro/js/bootstrap.bundle.min.js"></script>
    <script src="../intro/js/jquery.filterizr.min.js"></script>
    <script src="../intro/js/imagesloaded.pkgd.min.js"></script>
    <script src="../intro/js/magnific-popup.min.js"></script>
    <script src="../intro/js/contact-form.js"></script>
    <script src="../intro/js/main.js"></script> -->

</body>

</html>